@charset "UTF-8";

@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #fefae0;
    --color2: #f9ebc7;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;
    --color7: #877082;
    --color8: #684660;

    --box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.278);
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*===========SECTION 1==========*/

.recomendaçoes {
    margin: 32px;;
}

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 40s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

.recomendaçoes > h1 {
    color: var(--color8);
    font-size: 2.4em;
    margin: 32px 0;
}
@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}




/*===========SECTION 2==========*/



.artigos > div {
    display: grid;
    flex-direction: column;
    margin: 0 32px;
}

.artigos > div {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.artigos > div > a > img {
    width: 45%;
    height: auto;
    box-shadow: var(--box_shadow);
    user-select: none;
}

.artigos > div > .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
}

.artigos > div > .texto > h3 {
    color: var(--color8);
    font-size: 1em;
    padding-bottom: 8px;
}

.artigos > div > .texto > h1 {
    font-size: 1.2em;
}

.artigos > div > .texto > h1 > a {
    color: var(--color5);
}

.artigos > div > .texto > h1 > a:hover {
    color: #b99470;
}


@media screen and (max-width: 480px){
    

.recomendaçoes > .carousel > .group-desktop {
    display: none;
}

.artigos > div > a > img {
    width: 100%;
    height: auto;

}

.artigos > div > .texto {
    padding-left: 16px;
}

}

@media screen and (min-width: 481px) {
    
    .recomendaçoes > .carousel > .group-mobile {
    display: none;
    }

    .recomendaçoes > .carousel > .group-desktop {
    display: flex;
    }

    
    .artigos {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .artigos > div {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .artigos > div > a > img {
        width: 100%;
        height: auto;
    }

    .artigos > div > .texto > h3 {
        padding: 8px 0;
        font-size: 1em;
    }

    .artigos > div > .texto > h1 {
        font-size: 1.4em;
    }
    
}


@media screen and (min-width: 769px){

    .artigos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .artigos > div {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .artigos > div > a > img {
        width: 100%;
        height: auto;
    }

    .artigos > div > .texto > h3 {
        padding: 8px 0;
        font-size: 1em;
    }

    .artigos > div > .texto > h1 {
        font-size: 1.4em;
    }
    

}