@charset "UTF-8";


@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #fefae0;
    --color2: #f9ebc7;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;
    --color7: #877082;
    --color8: #684660;

    --box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.278);

    --z-tooltip:10;
    --z-fixed:100;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 0 16px;
    user-select: none;
}

header > .logo {
    display: none;
}

header > a > img {
    width: 96px;
    height: auto;
    margin: 8px 0 8px 0;
}

header > h1 {
    font-family: var(--font-xanh);
    font-size: 1.8em;
    text-align: center;
}

header > h1 > a {
    color: var(--color4);
}

nav {
    background-color: var(--color2);

}

nav > ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

nav > ul > li {
    height: 50px;
}


nav > ul > li:first-child{
    margin-right: auto;
}

nav > ul > li > a {
    height: 100%;
    padding: 0 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color4);
}
nav > ul > li > a:hover{
    background-color: var(--color5);
    color:var(--color2)
}
nav > ul > li > a > svg {
    fill: var(--color4);
}

nav > ul > li > a:hover > svg {
    fill: var(--color2);
}

nav > .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    z-index: 999;
    background-color: var(--color1);
    backdrop-filter: blur(10px);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.sidebar > li{
    width: 100%;
}

.sidebar > li > a {
    font-size: 1.1em;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 480px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }

    header {
        border-bottom: 2px solid var(--color5);
    }
}



@media screen and (min-width: 481px){



    nav > .sidebar {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > a > img, header > h1 {
        display: none;
    }

    header > .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

    header > .logo > a > img{
        width: 96px;
        height: auto;
        margin: 8px 0 8px 0;
    }

    header > .logo > h1{
        font-family: var(--font-xanh);
        font-size: 2em;
        text-align: center;
    }

    header > .logo > h1 > a {
        color: var(--color4);
    }

    header > nav {
        width: 100%;
        border: 2px solid var(--color8);

    }

    nav > #menu2 > li {
        width: 100%;
    }

    

    nav > #menu2 > li > a {
        padding: 0 0;
        justify-content: center;
        font-size: 1.1em;
    }

    #menu2 {
        list-style: none;
    }




}