@charset "UTF-8";


@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #D6B6A9;
    --color2: #F9F2EA;
    --color3: #B7C0AD;
    --color4: #7B8471;
    --color5: #877082;
    --color6: #684660;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;

}

/*--------------header---------------*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 0 16px;
}

header > img{
    width: 96px;
    height: auto;
    margin: 8px 0 8px 0;
}

header > h1{
    font-family: var(--font-xanh);
    font-size: 1.8em;
    color: var(--color4);
}

header > nav {
    background-color: var(--color2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
}
    
header > nav > #menu2 {
    display: none;
}

header > nav > ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > nav > ul > li{
    height: 50px;
}

header > nav > ul > li > a {
    height: 100%;
    padding: 0 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color4);
}

header > nav > ul > li > a > svg {
    fill: var(--color4);
}

header > nav > ul > li > a:hover > svg {
    fill: var(--color2);
}

header > nav > ul > li > a:hover{
    background-color: var(--color5);
    color:var(--color2)
}

header > nav > ul > li:first-child{
    margin-right: auto;
}

header > nav > .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    z-index: 999;
    background-color: var(--color2);
    backdrop-filter: blur(10px);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

header > nav > .sidebar > li{
    width: 100%;
}

header > nav > .sidebar > li > a{
    width: 100%;
}

.menu-button {
    display: none;
    color: var(--color6);
}

@media screen and (max-width: 480px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }
}

/*------------SECTION 1--------------*/

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 20s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}

/*------------SECTION 2--------------*/

.noticias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    padding: 24px 12px;
    justify-items: center;
    width: 100%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

.noticias > div {
    background: transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    height: auto;
    border: 2px solid var(--color4);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);

}

.noticias > div > img {
    padding: 8px 16px 0 16px;
    justify-items: center;
    width: 100%;
    height: 10.5rem;
}

.noticias > div > h2 {
    color: var(--color6);
    font-size: .88em;
    padding: 6px 0 0 16px;
}

.noticias > div > h1 {
    color: black;
    font-size: 1.38em;
    padding: 2px 0 6px 16px;
}

.noticias > .perfil {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    padding: 24px;
}
.noticias > .perfil > img {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 16px;
    
}

.noticias > .perfil > p {
    font-size: 1.1em;
    padding-bottom: 16px;
    text-align:justify;
}

.noticias > .perfil > ul {
    list-style: none;
    align-items: flex-start;
}