@charset "UTF-8";


@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #fefae0;
    --color2: #f9ebc7;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;
    --color7: #877082;
    --color8: #684660;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;

}



/*------------SECTION 1--------------*/

.recomendaçoes {
    margin: 32px;;
}

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 20s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}


/*------------SECTION 2--------------*/

/*.noticias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    padding: 24px 12px;
    justify-items: center;
    width: 100%;
}

.noticias > div {
    height: auto;
    padding: 16px;

}

.noticias > div > img {
    height: auto;
    padding-bottom: 8px;
}

.noticias > div > .capa1 {
    height: auto;
    padding-bottom: 8px;
    
}

.noticias > div > .capa2 {
        display: none;
    }

.noticias > div > h2 {
    font-size: 1em;
    padding-bottom: 6px;
    color: var(--color8);

}

.noticias > div > h2 > a {
    color: var(--color6);
}

.noticias > div > h2 > a:hover {
    color: var(--color4);
}

.noticias > div > h1 {
    font-size: 1.5em;
}

.noticias > div > h1 > a {
    color: var(--color5);
}

.noticias > div > h1 > a:hover {
    color: #b99470;
}
*/

.noticias > .artigos > .art.horizont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 16px;
    width: 100%;
}

.artigos > .art.horizont > .grid-wrapper > img {
    height: auto;
    padding-bottom: 8px;
}

.artigos > .art.horizont > .grid-wrapper > h2 {
    font-size: 1em;
    padding-bottom: 6px;
    color: var(--color8);

}

.artigos > .art.horizont > .grid-wrapper > h2 > a {
    color: var(--color6);
}

.art.horizont > .grid-wrapper > h2 > a:hover {
    color: var(--color4);
}

.art.horizont > .grid-wrapper > h1 {
    font-size: 1.5em;
}

.art.horizont > .grid-wrapper > h1 > a {
    color: var(--color5);
}

.art.horizont > .grid-wrapper > h1 > a:hover {
    color: #b99470;
}

/*-------------------------------------------------*/

@media screen and (min-width: 481px) {

    .noticias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 12px;
    padding: 24px 12px;
    justify-items: center;
    width: 100%;
    justify-content: space-between;
    }
}

