@charset "UTF-8";


@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #D6B6A9;
    --color2: #F9F2EA;
    --color3: #B7C0AD;
    --color4: #7B8471;
    --color5: #877082;
    --color6: #684660;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;

}



/*------------SECTION 1--------------*/

body {
    background-color: var(--color2);
}

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 20s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}


/*------------SECTION 2--------------*/

.noticias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    padding: 24px 12px;
    justify-items: center;
    width: 100%;
}

.noticias > div {
    width: 100%;
    height: auto;
    padding: 16px;

}

.noticias > div > img {
    justify-items: center;
    width: 100%;
    height: 10.5rem;
    padding-bottom: 4px;
}

.noticias > div > h2 {
    color: var(--color6);
    font-size: .88em;
    padding-bottom: 6px;

}

.noticias > div > h1 {
    color: black;
    font-size: 1.38em;

}

.noticias > .perfil {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid var(--color4);
}
.noticias > .perfil > img {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 32px;
    
}

.noticias > .perfil > p {
    font-size: 1em;
    padding-bottom: 16px;
    text-align:justify;
}

.noticias > .perfil > ul {
    list-style: none;
    align-items: flex-start;
    padding: 16px 0;
}

.noticias > .perfil > ul > li {

}

.noticias > .perfil > ul > li > a > svg {
    height: 20px;
    width: 20px;
}

/*-------------------------------------------------*/



