@charset "UTF-8";


@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #ebe5d9;
    --color2: #d8c9b6;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;
    --color7: #877082;
    --color8: #684660;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;

}



/*------------SECTION 1--------------*/

body {
    background-color: var(--color2);
}

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 20s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}


/*------------SECTION 2--------------*/

.noticias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 12px;
    padding: 24px 12px;
    justify-items: center;
    width: 100%;
}

.noticias > .news > div {
    width: 100%;
    height: auto;
    padding: 16px;

}

.noticias > .news > div > img {
    justify-items: center;
    width: 100%;
    height: 10.5rem;
    padding-bottom: 4px;
}

.noticias > .news > div > h2 {
    font-size: .88em;
    padding-bottom: 6px;
    color: var(--color6);

}

.noticias > .news > div > h2 > a {
    color: var(--color4);
}

.noticias > .news > div > h1 {
    color: var(--color8);
    font-size: 1.38em;

}


.perfil {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 2px solid var(--color4);
    padding: 24px;
}
.perfil > img {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 32px;
    
}

.perfil > p {
    font-size: 1em;
    padding-bottom: 16px;
    text-align:justify;
}

.perfil > ul {
    list-style: none;
    align-items: stretch;
    padding: 16px 0;
    display: flex;
    gap: 24px;
}

.perfil > ul > li {
    text-align: center;
}

.perfil > ul > li > a > svg {
    height: 24px;
    width: 24px;
    color: var(--color6);
    background-color: var(--color1);
    border-radius: 50%;
}

/*-------------------------------------------------*/

@media screen and (min-width: 481px) {

    .noticias {
        display: flex;
        flex-direction: row;
    }

    .noticias > .news {
        width: 70%;
    }

    .noticias > .news > div {
        padding: 0 16px 24px 16px;


    }

    .noticias > .perfil {
        width: 30%;
        border: 2px solid var(--color4);
        padding: 16px;
    }
    
    .perfil > img {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
    
    }

    .perfil > p {
    font-size: .9em;
    padding-bottom: 16px;
    text-align: center;
    }

} 


@media screen and (min-width: 769px) {

    .noticias > .news {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .noticias > .news > .grid-wrapper1 {
        grid-column: 1/3;
    }

    

    .noticias > .perfil {
        width: 20%;
        border: 2px solid var(--color4);
        padding: 16px;
    }

    .noticias > .news > div > h2 {
        font-size: 1em;
    }

    .noticias > .news > div > h1 {
        font-size: 1.5em;
    }

    .perfil > p {
        font-size: 1.1em;
    }
}


