@charset "UTF-8";

@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #ebe5d9;
    --color2: #d8c9b6;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;

    --box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.278);
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color);
    width: 100%;
}

p, h1, h2 {
    font-family: garamond, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*===========SECTION 1==========*/

.artigos  {
    display: flex;
    flex-direction: column;
    margin: 32px 24px 0;
}

.artigos > div {
    padding: 8px;
    border: 2px solid var(--color6);
    margin-bottom: 24px;
}

.artigos > div > img {
    width: 100%;
    height: 112px;
    
}

.artigos > div > h2 {
    color: var(--color4);
    font-size: 1em;
    padding-bottom: 4px;
}

.artigos > div > h3 {
    color: var(--color6);
    font-size: .88em;
    padding-bottom: 4px;
}

.artigos > div > h1 {
    color: var(--color5);
    font-size: 1.3em;
    padding-bottom: 4px;
}

.artigos > div > p {
    font-size: .9em;
    padding-bottom: 4px;
    text-align:justify;
}