@charset "UTF-8";

@font-face {
    .xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
}

:root{

    --font-xanh: "Xanh Mono", monospace;

    --color1: #fefae0;
    --color2: #f9ebc7;
    --color3: #abad97;
    --color4: #687540;
    --color5: #584638;
    --color6: #314430;
    --color7: #877082;
    --color8: #684660;

    --box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.278);
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    width: 100%;
    margin: 0 16px;
}

p, h1, h2 {
    font-family: garamond, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*===========SECTION 1==========*/

.carousel {
    margin: 24px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    width: max-content;
    gap: 1em;
    animation: slide 40s linear infinite;
    position: relative;
}

.group::after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1em;
}

.card {
    width: 3em;
    height: 4.5em;
    background-color: var(--color1);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.258);
}




